
@model ProfileOfferViewModel

@{
    ViewData["Title"] = "MyOffer";
    Layout = "~/Views/_ProfileLayout.cshtml";
}


<link href="~/content/MyOffer.css" rel="stylesheet" />



<h1 class="profile-table-title">My Offer</h1>

<div class="table  ">
    <div class="table-title row align-center">
        <h4 class="userColumn">Seller</h4>
        <h4 class="priceColumn">Price</h4>
        <h4  class="productColumn">Product Name</h4>
        <h4 class="statusColumn">Status</h4>
    </div>

    @foreach (var item in Model.Offers)
    {

<div class="cell row align-center">
    <a class="userColumn">@item.Product.Owner.UserName</a>
    <a class="priceColumn ">£@item.Price</a>
    <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.ProductId" class="productColumn hoverGrey row  align-center">@item.Product.Name </a>

    <div class="statusColumn row justifiy-center align-center">


        @if (!item.isApproved && item.Product.Sold.IsSold)
        {

            <a class="sold row justifiy-center align-center">Already Sold</a>
        }
        else if (item.isPending)
        {

            <a class="pending row justifiy-center align-center ">Pending</a>
            <a class="delete row justifiy-center align-center ">Delete</a>
            <div class="confirmation-box">

                <input type="hidden" name="OfferId" value="@item.OfferId" />
                <input type="hidden" name="ProductId" value="@item.ProductId" />

                <h1>Are you sure you want to delete</h1>
                <a class="yes-button" style="cursor:pointer">Yes</a>
                <a class="no-button" style="cursor:pointer">No</a>


            </div>
        }
        else if (!item.isApproved && !item.isPending)
        {
            <a class="reject row justifiy-center align-center">Rejected</a>
        }
        else
        {

            <a class="sold row justifiy-center align-center">You Bought</a>
        }

    </div>

</div>

    }






</div>

<script src="~/script/OfferScript.js"></script>