@model HomeViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Home";
}


<div class="categories-container">


    <ul class="categories row justifiy-center align-center">



        @foreach (var category in Model.AllCategories)
        {

            <li class="row justifiy-center align-center"><a asp-controller="Category" asp-action="Index" asp-route-id="@category.CategoryId"><img src="@Url.Content(@category.Image)" />@category.Name</a></li>


        }



    </ul>


</div>



    <section class="header">

        <div class="container ">

            <div class="heading-content">
                <h1 class="heading">BUY & Sell Fast</h1>
                <h4 class="sub-heading">Have too much stuff you no longer need? Then why not sell them now?</h4>
                <div class="sellnow row justifiy-center align-center"><a asp-controller="product" asp-action="add">Sell Now</a></div>

            </div>

            <img class="header-img" src="~/Image/CashBag@2x.png" />
        </div>

    </section>






        <section class="spotlight">

            <div class="container">

                <div class="spotlight-heading">
                    <h1>Spotlight</h1>
                </div>

                <ul class="spotlight-item">

                    @foreach (var item in Model.AllSpotlight)
                    {

                        <li class="card-container">
                            <a asp-controller="Product" asp-action="detail" asp-route-id="@item.ProductId" class="card">
                                <img class="card-img" src="@Url.Content(item.Image)" />
                                <span class="iconify crown" data-inline="false" data-icon="ant-design:crown-filled" ></span>

                                <div class="card-title">
                                    <h4>@item.Name.ToUpper()</h4>
                                    <h5 class="card-price">£@item.Price</h5>
                                </div>


                            </a>


                        </li>


                    }



                </ul>



            </div>






        </section>


        <section class="new-content">

            <div class="container">

                <div class="new-heading">
                    <h1>Newly Added  Product</h1>
                </div>

                <ul class="new-item">

                    @foreach (var item in Model.AllProduct)
                    {

                        <li class="card-container ">
                            <a asp-controller="Product" asp-action="detail" asp-route-id="@item.ProductId" class="card">
                                <img class="card-img" src="@Url.Content(item.Image)" />
                                <div class="card-title">
                                    <h4>@item.Name.ToUpper()</h4>
                                    <h5 class="card-price">£@item.Price</h5>
                                </div>
                            </a>


                        </li>


                    }



                </ul>



            </div>






        </section>




