@model HomeViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Home";
}



@await Component.InvokeAsync("CategoryNavigation")

    <section class="header">

        <div class="container ">

            <div class="heading-content">
                <h1 class="heading">BUY & Sell Fast</h1>
                <h4 class="sub-heading">Have too much stuff you no longer need? Then why not sell them now?</h4>
                <div class="sellnow row justifiy-center align-center"><a asp-controller="product" asp-action="add">Sell Now</a></div>

            </div>

            <img class="header-img" src="~/Image/CashBag@2x.png" />
        </div>

    </section>






        <section class="spotlight">

            <div class="container">

                <div class="spotlight-heading">
                    <h1>Spotlight</h1>
                </div>

                <ul class="spotlight-item">

                    @foreach (var item in Model.AllSpotlight)
                    {

                        <li class="card-container">
                            <a asp-controller="Product" asp-action="detail" asp-route-id="@item.ProductId" class="card">
                                <img class="card-img" src="@Url.Content(item.Images[0].Image)" />
                                <span class="iconify crown" data-inline="false" data-icon="ant-design:crown-filled" ></span>

                                <div class="card-title">
                                    <h4>@item.Name.ToUpper()</h4>

                                    @if(@item.Price.ToString() == "0.00" )
                                    {
                                    <h5 class="card-price">Free</h5>
                                    }
                                    else{

                                    <h5 class="card-price">£@item.Price</h5>
                                    }

                                </div>


                            </a>


                        </li>


                    }



                </ul>



            </div>






        </section>


        <section class="new-content">

            <div class="container">

                <div class="new-heading">
                    <h1>Newly Added  Product</h1>
                </div>

                <ul class="new-item">

                    @foreach (var item in Model.AllProduct)
                    {

                        <li class="card-container ">
                            <a asp-controller="Product" asp-action="detail" asp-route-id="@item.ProductId" class="card">
                                <img class="card-img" src="@Url.Content(item.Images[0].Image)" />
                                <div class="card-title">
                                    <h4>@item.Name.ToUpper()</h4>
                                    @if (@item.Price.ToString() == "0.00")
                                    {
                                        <h5 class="card-price">Free</h5>
                                    }
                                    else
                                    {

                                        <h5 class="card-price">£@item.Price</h5>
                                    }
                                </div>
                            </a>


                        </li>


                    }



                </ul>



            </div>






        </section>




