
@model ProductViewModel

@{
    Layout = "~/Views/_Layout.cshtml";

}




@await Component.InvokeAsync("CategoryNavigation")



<div class="product-page">

    <div class="half-container">




        <ul class="breadcrumbs row ">

            <li><a asp-controller="Home" asp-action="index" class=""> Home<span class="iconify arrow-right" data-inline="false" data-icon="dashicons:arrow-right-alt2"></span></a></li>
            <li>
                <a asp-controller="Category" asp-action="Index" asp-route-id="@Model.Product.CategoryId" class="">
                    @Model.Product.Category.Name <span class="iconify arrow-right" data-inline="false" data-icon="dashicons:arrow-right-alt2"></span>
                </a>
            </li>
            <li class="crumb-product-title font-grey">@Model.Product.Name</li>


        </ul>



        <section class="product">

            <div class="product-img">
                <img src="@Url.Content(@Model.Product.Images[0].Image)" />
            </div>





            <div class="product-info">


                <div class="offer-container">

                    <form method="post" id="offer-form" class="row column align-center justifiy-center">

                        <img src="~/Image/close.svg" class="close-offerform" />

                        <input type="hidden" name="ProductId" value="@Model.Product.ProductId" />

                        <h1>Offer Price</h1>

                        <input name="Price" type="number" min="1" step="any" required />
                        <h6 class="field-validation-error">Test</h6>

                        <button type="submit">Send Offer</button>

                    </form>



                </div>



                @if (Model.Product.Owner.UserName.Equals(User.Identity.Name))
                {


                    <div class="product-edit">

                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Product.ProductId">

                            <img src="~/Image/cog.png" />

                            Edit Post

                        </a>

                    </div>
                }

                <div class="product-title">
                    <h1>@Model.Product.Name</h1>
                </div>



                <div class="product-price">


                    @if (Model.Product.Sold.IsSold)
                    {<h1>SOLD</h1>}
                    else
                    {
                        @if (@Model.Product.Price.ToString() == "0.00")
                        {
                            <h1>Free</h1>
                        }
                        else
                        {
                            <h1>£@Model.Product.Price</h1>

                        }
                    }


                </div>

                @if (!Model.Product.Sold.IsSold)
                {
                    @if (!Model.Product.Owner.UserName.Equals(User.Identity.Name) && User.Identity.IsAuthenticated)
                    {
                        @if (!Model.HasOffer)
                        {
                            <a class="make-offer">Make Offer</a>
                        }
                        else
                        {
                            <a asp-controller="profile" asp-action="MyOffer" class="offer-pending">Offer Pending</a>
                        }
                        <a name="ProductId" value="@Model.Product.ProductId" class="add-watchlist" style="cursor:pointer"><img src="~/Image/heart.png" />Add to watch list</a>
                    }
                }
                <div class="seller-profile">

                    <img class="seller-img" src="@Url.Content(@Model.Product.Owner.Avatar)" />
                    <h5 class="seller-name">@Model.Product.Owner.UserName</h5>

                </div>




            </div>




        </section>


    </div>

</div>
<div class="bottom-container">

    <div class="half-container">






        <section class="product">

            <div class="product-description">
                <h4>Description</h4>
                <h5>@Model.Product.Description</h5>

            </div>









            <section class="comments">
                <h1>Comments</h1>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="comment-section">

                        <img class="seller-img" src="@Url.Content(UserManager.GetUserAsync(User).Result.Avatar)" />

                        <textarea type="text" class="comment-box"></textarea>
                    </div>
                    <div class="submit-section">    <a class="submit">Post comment</a></div>
                }
                else
                {
                    <div class="comment-section">

                        <h1>Login to post a comment</h1>

                    </div>}

            </section>








        </section>


    </div>

</div>



<script src="~/script/ProductDetailScripts.js"></script>
<script src="~/script/watchlistscript.js"></script>